name: Deploy n8n
on:
  workflow_dispatch:
  schedule:
    # Runs daily at 02:37 AM UTC
    - cron: '37 2 * * *'
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency: deploy-group    # ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --no-cache --app ${{ secrets.FLY_APP_NAME }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
